$bg-title = #FDF8F8
$border = #72726F
$color-text = #A1A19C
$main-color = #E80C7A
$nav-link-color = #fff
$text-dark = #333
$text-em = #222
$text-color = #555
$text-light = #BFBFBF
$bg-dark = #222
$bg-color = #fafafa
$bg-light = #F5D9F0
$border-color = #eee
$border-dark = #444
$sidebar-width = 15rem
$duration-normal = .6s
$duration-fast = .3s
$duration-slow = .9s

$text = 'Roboto', sans-serif
$title =  'Indie Flower', cursive

$transition-slide
	transition: transform $duration-normal

$transform-slide
	transform: translateX($sidebar-width)
