@require "app/styles/charte"

body
	font-family:  $text
	font-weight: 300
	line-height: 1.5
	overflow-x: hidden
	color: $text-color

.external-link
	color: lighten($main-color, 50%)
	border-bottom: 1px dotted lighten($main-color, 50%)
	&:hover
		color: $main-color
		border-color: $main-color

.center
	text-align: center
