@require "app/styles/charte"

#skills
    height: 100%

.skills-image
    background-image: url(/images/ilya-pavlov-87438-unsplash.jpg)
    background-repeat: no-repeat
    background-size: cover
    height: 20em


.skills-language, .skills-pao, .skills-more
    font-size: 1.5em
    font-style: italic
    padding-top: 1em
    padding-bottom: 1em

.content-section ul
    list-style-type: square
    padding-left: 2em
