@require "app/styles/charte"

#header
	background: $bg-light
	border-bottom: 1px solid $border-color
	padding: 1em
	text-transform: capitalize
	text-align: center
	position: fixed
	width: 100%
	&-name
		font-size: 2em
		font-family: $title
		font-weight: bold
	&-title
		display: block
		font-size: 1.5rem
		letter-spacing: -.04em
		text-align: right

		a
			font-weight: 700
		small
			margin-left: .2em
			color: $text-light
			font-size: .8em
